#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  flex: auto;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box{
  background-color: beige;
  border-radius: 20px;
  height: 500px;
  padding-left: 0;
}